<div class="box box-primary">
<form  novalidate name="updateLocationForm" class="form-horizontal">

  <div class="box-header">
     <i class="glyphicon glyphicon-pencil"></i>
        <h3 class="box-title">Location update</h3>   
	 
  				<div class="form-group">
  					<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
				</div>
	 
   </div><!-- /.box-header -->
	<div class="box-body">
                 
		<div class="form-group">
    				<label for="inputLocation" class="col-sm-1 control-label" >Location:</label>
					<div class="col-sm-4">
						<input type="text" ng-model="location.location"  class="form-control" id="inputLocation"  required>	
						
					</div>
		</div>
		<div class="form-group">
					<label for="inputAddress" class="col-sm-1 control-label" >Address:</label>
    				<div class="col-sm-4">
      					<input type="text" ng-model="location.address"  class="form-control" id="inputAddress"  required>
						
    				</div>
		</div>

				
        </div><!-- /.box-body -->	
		
        	<div class="box-footer clearfix no-border" >
			
                  <button ng-hide="updateLocationForm.$invalid" class="btn btn-default pull-right" ng-click="updateLocation(location)" ><i class="fa fa-plus"></i> Update</button>   
			
		</div> 
	</form>
</div><!-- /.box -->

